$coloresPrincipales: (
    color_1:#FF577F,
    color_2:#FF884B,
    color_3:#FFD384
);
$colorPrincipal:#FF577F;
$colorSecundario:#FF884B;
$colorTerciario:#FFD384;
$colorCuaternario: black;
$colorQuinto: #f8c360;
$rem: 0.5rem;
$estiloBorde: groove;
$eliminar: none;
$porcentaje: 100%;
$cero: 0;
$aliniacion: center;
$decoracionTexto: italic;
$posicion: relative;
$flexible: flex;
$cubrir: cover;